/* Start CSS Sheet */
/* Start Global */
@font-face {font-family: 'Bello Script'; src: url('../fonts/Bello-Script_6557.ttf');}
body, html{overflow-x: hidden;}
.silver-text{color: #ccc;}
.silver-texts{color: #999}
.bloks{
    display: block;
    margin-top: 100px
}
.upper{text-transform: uppercase}
.responsive-img{max-width: 100%}
/* End Global */
/* Start Header*/
.white-text{color: #fff}
.header{
    background-image: url(../images/1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}
.overlay{
    background: rgba(0,0,0,0.8);
    height: 100%
}
.navbar-brand, .navbar-brand:hover{
    font-family: 'Bello Pro Regular', 'Bello Script', 'sans-serif';
    display: inline-block;
    font-size: 28px;
    color: #fff;
}
.navbar-toggler:focus{outline: none}
@media(max-width: 992px){.navbar{background: rgb(134, 142, 150) !important;}}
.navbar-nav li a{
    text-decoration: none;
    color: #fff;
    transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    margin-right: 30px;
    border-radius: 15px
}
.navbar-nav li a:hover{ background: #35c2f8;}
.header-content{padding: 50px 0 0 0}
@media(max-width:992px){.header-content{padding: 20px 0 0 0}}
.cont-slide{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center}
.slide h1, .big-H{
    font-weight: bold;
    font-size: 50px;
    position: relative;
    margin-bottom: 100px;
    text-transform: uppercase
}
.slide h1:after , .big-H:after{
    content: " ";
    display: block;
    background-color: #35c2f8;
    width: 100px;
    height: 1px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -50px
}
@media(max-width:992px){.slide h1, .big-H{font-size: 30px;}}
@media(max-width:992px){.slide h1:after , .big-H:after{bottom: -25px;}}
/* End Header */
/* Start Features */
.features{margin: 50px 0}
.feature{margin: 50px 0 0 0}
.feature i{
    font-size: 50px;
    margin: 20px 0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.feature i:hover{color: #35c2f8}
.feature p{color: #999}
.big-H{
    font-size: 30px;
    margin: 0
}
.big-H:after{bottom: -25px;}
/* End Features */
/* Start Expertise */
.expertise{
    background-image: url(../images/2-bg.png);
    position: relative;
    padding: 50px 0
}
.other-expertise{
    background-color: #f7f7f7;
    height: 100%;
    position: absolute;
    top: 0;
}
.expertise i, .portfolio-bg i{color: #888;}
.primary-btn{
    background-color: #35C2F8;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    border-radius: 30px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
}
.primary-btn:focus{outline: none}
/* Sweep To Right */
.primary-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: dodgerblue;
    border-radius: 30px;
    -webkit-transform-origin:left;
            transform-origin:left;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: transform 1s ease-out;
    -webkit-transition: -webkit-transform 1s ease-out;
    transition: -webkit-transform 1s ease-out;
    transition: transform 1s ease-out;
    transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}
.primary-btn:hover:before, .primary-btn:focus:before, .primary-btn:active:before {-webkit-transform: scaleY(1);transform: scaleY(1);}
/* End Expertise */
.portfolio-bg{
    background-image: url(../images/3-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0
}
/* Start Portfolio */
.Portfolio > div{padding: 0;position: relative;}
.Portfolio div img{width: 100%;}
.over-hvr{
    background: rgba(53, 194, 248, .8);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}
.over-hvr i{
    position: absolute;
    top: 50%;
    margin-top: -32px;
    left: 50%;
    margin-left: -30px;
}
.Portfolio div:hover .over-hvr{opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
.overlay-img{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    display: none;
}
.over{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.over i{
    position: absolute;
    top: 25px;
    font-size: 30px;
    color: #fff;
    right: 25px;
    cursor: pointer;
}
/* End Portfolio */
/* Start About */
.about-us{
    padding: 100px 0;
    position: relative
}
.about-us .bloks .row{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center}
.about-us .colomn{
    width: 7px;
    height: 1240px;
    background-color: #eee;
    position: absolute;
    top: 400px;
    z-index: -1;
    left: 50%;
}
.clos img{
    border-radius: 50%;
    border: 10px solid #eee;
    width: 250px;
    height: 250px
}
.more-story{
    margin: 100px auto 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid #eee;
    background-color: #35C2F8;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
/* End About */
/* Start Team */
.team{
    background-color: #F7F7F7;
    padding: 100px 0
}
.team i{
    color: #fff;
    background-color: #222;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%
}
.team img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.team .row{margin: 50px 0}
.team i{
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.team .fa-facebook:hover{background-color: darkslateblue}
.team .fa-twitter:hover{background-color: darkturquoise}
.team .fa-pinterest-p:hover{background-color: crimson}
.team .fa-google-plus:hover{background-color: firebrick}
/* End Team */
/* Start Contact */
.contact{
    background-color: #111111;
    color: #fff;
}
.contact hr{background-color: #D2D2D2}
.contact p{display: inline-block}
.contact form input, .contact form textarea{
    width: 100%;
    padding: 15px;
    border: 0;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #000
}
@media (max-width: 576px) {.contact form {text-align: center}}
footer a{
    color: #35C2F8;
    font-weight: bold
}
footer a:hover{
    text-decoration: none;
    color: #35C2F8;
}
/* End Contact */
/* Srart Scroll Up Button */
.scrollUp{
    width: 45px;
    height: 45px;
    background: rgba(53, 194, 248, .5);
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    display: none;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-animation: pulse-effect 2s infinite ease-in-out alternate;
            animation: pulse-effect 2s infinite ease-in-out alternate;
}
.scrollUp:hover{background: rgba(53, 194, 248, 1);-webkit-animation:none;animation:none}
.scrollUp:focus{outline: 0}
@-webkit-keyframes pulse-effect{
    from{-webkit-transform: scale(1);transform: scale(1);}
    to{-webkit-transform: scale(1.1);transform: scale(1.1);}
}
@keyframes pulse-effect{
    from{-webkit-transform: scale(1);transform: scale(1);}
    to{-webkit-transform: scale(1.1);transform: scale(1.1);}
}
/* End Scroll Up Button */
/* End CSS Sheet */